{% extends 'board_games/base.html' %}

{% block content %}

    <p>Game: {{ game }}</p> 

    <p>Loaned by: {{ loaner }}</p>

    {% if game.loan_status == 'U' %}
      Game is being loaned by {{ loaner }} <!--tai {{ loaner.text }}-->
      <a href="{% url 'board_games:game_returned' game.id %}">Return Game</a>
    {% else %}
      Game is available
      <a href="{% url 'board_games:new_loaner' game.id %}">Loan Game</a>
    {% endif %}

    <ul>
        {% for description in descriptions %}
        <li>
            <p>{{ description.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ description.text|linebreaks }}</p>
            <p>
              <a href="{% url 'board_games:edit_description' description.id %}">Edit description</a>
            </p>
        </li>
        {% empty %}
          <li>There is no description for this board game yet.</li>
        {% endfor %}
    </ul>

{% endblock content %}