{% extends 'board_games/base.html' %}

{% block page_header %}
  <h3>{{ game }}</h3>
{% endblock page_header %}

{% block content %}

    <p>Loaned by: {{ loaner }}</p>

    {% if game.loan_status == 'U' %}
      Game is being loaned by {{ loaner }} <!--tai {{ loaner.text }}-->
      <a href="{% url 'board_games:game_returned' game.id %}">Return Game</a>
    {% else %}
      Game is available
      <a href="{% url 'board_games:new_loaner' game.id %}">Loan Game</a>
    {% endif %}

    {% for description in descriptions %}
      <div class="card mb-3">
        <h4 class="card-header">
          {{ entry.date_added|date:'M d, Y H:i' }}
          <small><a href="{% url 'board_games:edit_description' description.id %}">
            Edit description</a></small>
        </h4>
        <div class="card-body">
          {{ description.text|linebreaks }}
        </div>
      </div>
    {% empty %}
      <p>There is no description for this board game yet.</p>
    {% endfor %}

{% endblock content %}