{% extends 'board_games/base.html' %}

{% block page_header %}
  <h3>{{ game }}</h3>
{% endblock page_header %}

{% block content %}

  {% for loaner in loaners %}
    Game is being loaned by:{{ loaner.text|linebreaks }} since: {{ loaner.date_added|date:'M d, Y H:i' }}
  {% empty %}
    <p>There are no loaners for this board game yet.</p>
    <a href="{% url 'board_games:new_loaner' game.id %}">Add new loaner</a>
  {% endfor %}

    {% for description in descriptions %}
      <div class="card mb-3">
        <h4 class="card-header">
          {{ description.date_added|date:'M d, Y H:i' }}
          <small><a href="{% url 'board_games:edit_description' description.id %}">
            Edit description</a></small>
        </h4>
        <div class="card-body">
          {{ description.text|linebreaks }}
        </div>
      </div>
    {% empty %}
      <p>There is no description for this board game yet.</p>
      <small><a href="{% url 'board_games:new_description' game.id %}">
        Add new description</a></small>
    {% endfor %}

{% endblock content %}